.movie-detail-container {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cast-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 400px;
    font-size: 24px;
}

li  {
    text-align: left;
}

h3 {
    font-size: 30px;
}

img {
    border-radius: 15px;
}